<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/line">Line</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/bars">Bars</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/feed">Feed</a>
    </li>
  </ul>
</body>

</html>